body{
  

    font-family: agchoijeongho-screen, sans-serif;

    font-weight: 400;
    
    font-style: normal;

margin: 0px;

text-align: center;

background-color: black;
}

p{

    color: white;
    font-size: 3em;
    line-height: 2em;
}

